[submodule "hdl/building_blocks/FIFO"]
	path = hdl/building_blocks/FIFO
	url = https://github.com/feketebv/FIFO.git
[submodule "hdl/building_blocks/nandland"]
	path = hdl/building_blocks/nandland
	url = https://github.com/nandland/nandland.git
